/*styles for details*/

.body{
    margin: 0;
    padding: 0;
}

.icons {
    display: inline-block;
}

.content {
    display: flex;
    /*position: relative;*/
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 0 10%;
}

.frozenlandMap{
    position: relative;
}

.posts article{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.icon{
    display: inline-block;
    position: absolute;
    max-width: 70px;
    background-color:rgb(120, 209, 250);
    padding: 10px;
    border-radius: 20px;
}

.castle {
    left: 520px;
    top: 350px;
    z-index: 2;
}
  
.rollercoaster {
    left: 210px;
    top: 300px;
    z-index: 2;
}

.shop {
    left: 390px;
    top: 580px;
    z-index: 2;
}

.attraction1 {
    left: 690px;
    top: 500px;
    z-index: 2;
}

.ballon {
    left: 370px;
    top: 130px;
    z-index: 2;
}


.restaurant {
    left: 760px;
    top: 270px;
    z-index: 2;
    }

.info {
    left: 170px;
    top: 470px;
    z-index: 2;
}

.post article p {
    text-align: center;
    padding: 100px;
}

.iconDescription{
    text-decoration: none !important;
    font-family: 'Montserrat', sans-serif;
}
